<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>
    <ul>
      <li><a href="ansatte">Ansatte</a></li>
    </ul>
  </body>
</html>
